target/
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# copied from Maven.gitignore -- baincd
# sourced https://github.com/github/gitignore/blob/main/Maven.gitignore (11/10/2022)
target/classes/be/sudoku/game/Sudoku.class
target/classes/be/sudoku/game/SudokuField.class
target/classes/be/sudoku/gui/sudokuGUI.class
